body {max-width: 900px; margin-top: 3em; margin-bottom: 5em;
margin-left: auto; margin-right: auto; text-align: left; line-height:
1.6; font-family: sans-serif; font-size: 12pt;}
#logo {margin: auto; width: 70px; display: block;}
h1 {text-align: center;}
h2 {margin-top: 3em;}
